.main-wrapper {
    width: 60%;
    margin: auto;
    padding: 10px;

}
.main-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid green;
    padding: 10px;

        
}
.img-container {
    flex-grow: 2
}

.text-container {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.btn-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}
.add-form {
    border-bottom: 1px solid green;
    padding-bottom: 10px;
}
