.main-wrapper {
    width: 60%;
    margin: auto;
    padding: 10px;

}
.main-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid green;
    padding: 10px;

        
}
.img-container {
    flex-grow: 2
}

.text-container {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.btn-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}
.add-form {
    border-bottom: 1px solid green;
    padding-bottom: 10px;
}
.show-transId {
    color: green;
    font-size: 17pt;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-msg {
    color: red;
    font-size: 17pt;
}
